<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/git.png" width="auto" height="35" alt="">
    </a>
    <ul class="nav justify-content-end" *ngIf="!currentUser">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/sign-up">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/sign-in">Log in</a>
          </li>
    </ul>

    <ul class="nav justify-content-end" *ngIf="currentUser">
        
        
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/favorites">Favorites</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/profile">Profile</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"  (click)="logOut()" role="button" style="cursor: pointer;">Log out</a>
        </li>
      
    </ul>
</nav>